pvc:
  pvcName: radicale-data
  storageRequest: 128Mi
  moverSecurityContext:
    runAsUser: 2999
    runAsGroup: 2999

app-template:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 2999
      runAsGroup: 2999
  controllers:
    radicale:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        radicale:
          image:
            repository: tomsquest/docker-radicale
            tag: 3.6.0.0@sha256:4d46a338ae083db37418eb979e91c2ccfb0c7ef632ab9311b0ef54a41042f064
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault
          env:
            TAKE_FILE_OWNERSHIP: "false"
          probes:
            startup:
              enabled: true
            liveness:
              enabled: true
            readiness:
              enabled: true
  service:
    radicale:
      controller: radicale
      ports:
        http:
          port: 5232
  ingress:
    radicale:
      className: external
      hosts:
        - host: radicale.neils.house
          paths:
            - path: /
              service:
                identifier: radicale
                port: http
  persistence:
    config:
      type: configMap
      name: radicale
      globalMounts:
        - path: /config/config
          subPath: config
          readOnly: true
    data:
      existingClaim: radicale-data
    users:
      type: secret
      name: radicale
      globalMounts:
        - path: /config/users
          subPath: users
          readOnly: true
