app-template:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/controller
                  operator: In
                  values:
                    - home-assistant
            namespaces:
              - home-assistant
            topologyKey: kubernetes.io/hostname
  controllers:
    piper:
      containers:
        piper:
          image:
            repository: docker.io/rhasspy/wyoming-piper
            tag: 2.1.2@sha256:54c511aa81d3b9f1e02216e30d08c948bd0b145f3eea1e7b0461c8c4645e2864
          args:
            - --voice
            - en_US-lessac-medium
            - --data-dir
            - /data
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault
          probes:
            startup:
              enabled: true
            liveness:
              enabled: true
            readiness:
              enabled: true
  service:
    piper:
      controller: piper
      ports:
        http:
          port: 10200
  persistence:
    data:
      type: emptyDir
