app-template:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/controller
                  operator: In
                  values:
                    - home-assistant
            namespaces:
              - home-assistant
            topologyKey: kubernetes.io/hostname
  controllers:
    piper:
      containers:
        piper:
          image:
            repository: docker.io/rhasspy/wyoming-piper
            tag: 2.2.2@sha256:c874e4a04657ae3381332ee5d0c8c70a310dae6722892840f530ac0890b44eb3
          args:
            - --voice
            - en_US-lessac-medium
            - --data-dir
            - /data
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault
          probes:
            startup:
              enabled: true
            liveness:
              enabled: true
            readiness:
              enabled: true
  service:
    piper:
      controller: piper
      ports:
        http:
          port: 10200
  persistence:
    data:
      type: emptyDir
