pvc:
  pvcName: &pvcName stirling-pdf-data
  storageRequest: 128Mi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000

stirling-pdf:
  image:
    registry: ghcr.io
    repository: stirling-tools/stirling-pdf
    tag: 2.5.2@sha256:74c9ad9e280087f0652bfc98c9b5524b03ea5c138050406d2e3936f9cd60906f

  strategy:
    type: Recreate
  serviceAccount:
    create: false

  deployment:
    extraVolumes:
      - name: configs
        persistentVolumeClaim:
          claimName: *pvcName
    extraVolumeMounts:
      - name: configs
        mountPath: /configs

  ingress:
    enabled: true
    ingressClassName: internal
    pathType: Prefix
    hosts:
      - name: pdf.internal.neils.house
        path: /
