pvc:
  pvcName: &pvcName stirling-pdf-data
  storageRequest: 128Mi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000

stirling-pdf:
  image:
    registry: ghcr.io
    repository: stirling-tools/stirling-pdf
    tag: 2.4.5@sha256:005f4174c00006c0771b020c77fd9fdad334e112d629a8583671e8fe5eeb17f5

  strategy:
    type: Recreate
  serviceAccount:
    create: false

  deployment:
    extraVolumes:
      - name: configs
        persistentVolumeClaim:
          claimName: *pvcName
    extraVolumeMounts:
      - name: configs
        mountPath: /configs

  ingress:
    enabled: true
    ingressClassName: internal
    pathType: Prefix
    hosts:
      - name: pdf.internal.neils.house
        path: /
