pvc:
  pvcName: prowlarr-data
  storageRequest: 128Mi

app-template:
  controllers:
    prowlarr:
      containers:
        prowlarr:
          image:
            repository: lscr.io/linuxserver/prowlarr
            tag: 2.3.0@sha256:484784daaf4c081e55c608de256870184d283762e1b64e8105af487b1510fc4a
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/Los_Angeles"
  service:
    prowlarr:
      controller: prowlarr
      ports:
        http:
          port: 9696
  ingress:
    prowlarr:
      className: internal
      hosts:
        - host: prowlarr.internal.neils.house
          paths:
            - path: /
              service:
                identifier: prowlarr
                port: http
  persistence:
    config:
      existingClaim: prowlarr-data
