pvc:
  pvcName: prowlarr-data
  storageRequest: 128Mi

app-template:
  controllers:
    prowlarr:
      containers:
        prowlarr:
          image:
            repository: lscr.io/linuxserver/prowlarr
            tag: 2.0.5@sha256:608935c38763920b25622a3d404bb14ea08fcaa7c2a9b1c93ce9bac61ad4b11d
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/Los_Angeles"
  service:
    prowlarr:
      controller: prowlarr
      ports:
        http:
          port: 9696
  ingress:
    prowlarr:
      className: internal
      hosts:
        - host: prowlarr.internal.neils.house
          paths:
            - path: /
              service:
                identifier: prowlarr
                port: http
  persistence:
    config:
      existingClaim: prowlarr-data
