oauth2-proxy:
  ingress:
    className: &ingressClassName internal
    host: &ingressHost prowlarr.internal.neils.house
  oidc:
    clientID: dd88c469-8a98-4837-9651-088059dfdcce
    clientSecretKey: PROWLARR_OPENID_CLIENT_SECRET
    cookieSecretKey: PROWLARR_OPENID_COOKIE_SECRET

pvc:
  pvcName: prowlarr-data
  storageRequest: 128Mi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

app-template:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: OnRootMismatch
  controllers:
    prowlarr:
      containers:
        prowlarr:
          image:
            repository: ghcr.io/home-operations/prowlarr
            tag: 2.3.2@sha256:e2459e199564ab852c6e677e951cef36c172a8e71a0e1c90665631b5a0c57438
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          env:
            TZ: "America/Los_Angeles"
          probes:
            liveness: &probe
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /ping
                  port: 9696
            readiness: *probe
  service:
    prowlarr:
      controller: prowlarr
      ports:
        http:
          port: 9696
  ingress:
    prowlarr:
      annotations:
        nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
      className: *ingressClassName
      hosts:
        - host: *ingressHost
          paths:
            - path: /
              service:
                identifier: prowlarr
                port: http
  persistence:
    config:
      existingClaim: prowlarr-data
    tmp:
      type: emptyDir
