oauth2-proxy:
  ingress:
    className: &ingressClassName internal
    host: &ingressHost zwave.internal.neils.house
  oidc:
    clientID: 2e75dfae-e186-4b07-83d9-8df9f22cde58
    clientSecretKey: ZWAVE_OPENID_CLIENT_SECRET
    cookieSecretKey: ZWAVE_OPENID_COOKIE_SECRET

pvc:
  pvcName: zwave-js-ui-data
  storageRequest: 128Mi

controllerPath: &controllerPath "/dev/serial/by-id/usb-Nabu_Casa_ZWA-2_80B54EE0AD28-if00"

app-template:
  defaultPodOptions:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: "feature.node.kubernetes.io/usb-ef_303a_4001.present"
                  operator: "Exists"
  controllers:
    zwave-js-ui:
      containers:
        zwave-js-ui:
          image:
            repository: docker.io/zwavejs/zwave-js-ui
            tag: 11.9.1@sha256:a7036e59a9d7916d1f92f2fa1e0b9f4a5ed317fc8bef38756368f7c865e0e95a
          securityContext:
            privileged: true
          probes:
            liveness: &probe
              enabled: true
              custom: true
              spec:
                failureThreshold: 10
                httpGet:
                  httpHeaders:
                    - name: Accept
                      value: text/plain
                  path: /health
                  port: 8091
                initialDelaySeconds: 30
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 1
            startup: *probe
            readiness: *probe
  service:
    zwave-js-ui:
      controller: zwave-js-ui
      ports:
        web-ui:
          port: 8091
        websocket:
          port: 3000
  ingress:
    zwave-js-ui:
      annotations:
        nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
      className: *ingressClassName
      hosts:
        - host: *ingressHost
          paths:
            - path: /
              service:
                identifier: zwave-js-ui
                port: web-ui
  persistence:
    config:
      existingClaim: zwave-js-ui-data
      globalMounts:
        - path: /usr/src/app/store
    controller:
      type: hostPath
      hostPath: *controllerPath
      hostPathType: CharDevice

