pvc:
  pvcName: zwave-js-ui-data
  storageRequest: 128Mi

controllerPath: &controllerPath "/dev/serial/by-id/usb-Nabu_Casa_ZWA-2_80B54EE0AD28-if00"

app-template:
  defaultPodOptions:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: "feature.node.kubernetes.io/usb-ef_303a_4001.present"
                  operator: "Exists"
  controllers:
    zwave-js-ui:
      containers:
        zwave-js-ui:
          image:
            repository: docker.io/zwavejs/zwave-js-ui
            tag: 11.8.0@sha256:803b6009d4eee473bd9f7f5aab113336252172b10272b8bb3938e54ad9a6e2ee
          securityContext:
            privileged: true
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                failureThreshold: 10
                httpGet:
                  httpHeaders:
                    - name: Accept
                      value: text/plain
                  path: /health
                  port: 8091
                initialDelaySeconds: 30
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 1
  service:
    zwave-js-ui:
      controller: zwave-js-ui
      ports:
        web-ui:
          port: 8091
        websocket:
          port: 3000
  ingress:
    zwave-js-ui:
      className: internal
      hosts:
        - host: zwave.internal.neils.house
          paths:
            - path: /
              service:
                identifier: zwave-js-ui
                port: web-ui
  persistence:
    config:
      existingClaim: zwave-js-ui-data
      globalMounts:
        - path: /usr/src/app/store
    controller:
      type: hostPath
      hostPath: *controllerPath
      hostPathType: CharDevice

