oauth2-proxy:
  ingress:
    className: &ingressClassName internal
    host: &ingressHost qbittorrent.internal.neils.house
  oidc:
    clientID: 2cd14457-bf14-4467-8c86-e1a77fd6b57d
    clientSecretKey: QBITTORRENT_OPENID_CLIENT_SECRET
    cookieSecretKey: QBITTORRENT_OPENID_COOKIE_SECRET

pvc:
  pvcName: qbittorrent-data
  storageRequest: 128Mi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

app-template:
  controllers:
    qbittorrent:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        qbittorrent:
          image:
            repository: ghcr.io/binhex/arch-qbittorrentvpn
            tag: 5.1.3-1-01@sha256:bd8fcf9cd7fbf63e5c8816f98ae806ac055e915d970f59a4d40b0d99685a3b1e
          envFrom:
            - secretRef:
                name: qbittorrent
          env:
            DEBUG: "false"
            PUID: "1000"
            PGID: "1000"
            VPN_ENABLED: "yes"
            VPN_PROV: "pia"
            VPN_CLIENT: "wireguard"
            LAN_NETWORK: "192.168.1.0/24"
            NAME_SERVERS: "1.1.1.1,1.0.0.1"
            STRICT_PORT_FORWARD: "yes"
          probes:
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 10
            liveness:
              enabled: true
            readiness:
              enabled: true
          resources:
            limits:
              memory: 8Gi
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - SYS_MODULE
            privileged: true # required for wireguard
  service:
    qbittorrent:
      controller: qbittorrent
      ports:
        http:
          port: 8080
  ingress:
    qbittorrent:
      annotations:
        nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
      className: *ingressClassName
      hosts:
        - host: *ingressHost
          paths:
            - path: /
              service:
                identifier: qbittorrent
                port: http
  persistence:
    config:
      existingClaim: qbittorrent-data
    downloads:
      type: nfs
      server: nas.internal
      path: /mnt/media/downloads
      globalMounts:
        - path: /mnt/media/downloads
