oauth2-proxy:
  ingress:
    className: &ingressClassName internal
    host: &ingressHost ha-code.internal.neils.house
  oidc:
    clientID: b63df408-c370-4648-b065-cf00eccc4bd3
    clientSecretKey: HOMEASSISTANT_OPENID_CLIENT_SECRET
    cookieSecretKey: HOMEASSISTANT_OPENID_COOKIE_SECRET

pvc:
  pvcName: home-assistant-data
  storageRequest: 1Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

app-template:
  defaultPodOptions:
    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/controller
                  operator: In
                  values:
                    - zwave-js-ui
            namespaces:
              - zwave-js-ui
            topologyKey: kubernetes.io/hostname
  controllers:
    home-assistant:
      pod:
        annotations:
          kubectl.kubernetes.io/default-container: home-assistant
      containers:
        home-assistant:
          image:
            repository: ghcr.io/home-assistant/home-assistant
            tag: 2025.12.3@sha256:c9da2a0a5738ceb26e1b4f672825c09371e51ae5e285beffa3072757b7817f3e
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/Los_Angeles"
          probes:
            startup:
              enabled: true
            liveness:
              enabled: true
            readiness:
              enabled: true
        code-server:
          image:
            repository: ghcr.io/coder/code-server
            tag: 4.106.3@sha256:1a0e813039c8f01404a89654278779ac77492b833bc2d126431268b9b1f1e40a
          args:
            - --auth
            - none
            - --user-data-dir
            - /config/.vscode
            - --extensions-dir
            - /config/.vscode
            - /config
          probes:
            startup:
              enabled: true
            liveness:
              enabled: true
            readiness:
              enabled: true
  service:
    home-assistant:
      controller: home-assistant
      ports:
        code-server:
          port: 8080
        http:
          port: 8123
  ingress:
    home-assistant:
      className: external
      hosts:
        - host: ha.neils.house
          paths:
            - path: /
              service:
                identifier: home-assistant
                port: http
    code-server:
      annotations:
        nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
      className: *ingressClassName
      hosts:
        - host: *ingressHost
          paths:
            - path: /
              service:
                identifier: home-assistant
                port: code-server
  persistence:
    config:
      existingClaim: home-assistant-data
      globalMounts:
        - path: /config
      advancedMounts:
        home-assistant:
          home-assistant:
            # https://github.com/tribut/homeassistant-docker-venv
            - path: /etc/services.d/home-assistant/run
              subPath: docker/run
              readOnly: true
