app-template:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
  controllers:
    unpackerr:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        unpackerr:
          image:
            repository: ghcr.io/unpackerr/unpackerr
            tag: 0.14.5@sha256:dc72256942ce50d1c8a1aeb5aa85b6ae2680a36eefd2182129d8d210fce78044
          env:
            TZ: "America/Los_Angeles"
            UN_RADARR_0_URL: http://radarr.radarr.svc.cluster.local:7878
            UN_SONARR_0_URL: http://sonarr.sonarr.svc.cluster.local:8989
            UN_WEBSERVER_LOG_FILE: /logs/unpackerr.log
          envFrom:
            - secretRef:
                name: unpackerr
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
  persistence:
    downloads:
      type: nfs
      server: nas.internal
      path: /mnt/media/downloads
      globalMounts:
        - path: /mnt/media/downloads
    logs:
      type: emptyDir
