kubernetes-event-exporter:
  global:
    security:
      allowInsecureImages: true
  image:
    registry: ghcr.io
    repository: resmoio/kubernetes-event-exporter
    tag: v1.7@sha256:8abb52b66557d3333f9e473e0eff2951309abfd018bd8d7fcfd86c4ecce6b9cf
  priorityClassName: system-node-critical
  config:
    logLevel: info
    logFormat: json
    kubeQPS: 60
    kubeBurst: 60
    maxEventAgeSeconds: 10
    receivers:
      - name: "dump"
        file:
          path: "/dev/stdout"
          layout:
            message: "{{ .Message }}"
            reason: "{{ .Reason }}"
            type: "{{ .Type }}"
            count: "{{ .Count }}"
            kind: "{{ .InvolvedObject.Kind }}"
            name: "{{ .InvolvedObject.Name }}"
            namespace: "{{ .Namespace }}"
            component: "{{ .Source.Component }}"
    route:
      routes:
        - match:
            - receiver: "dump"
