{{- if .Values.recovery.enabled }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "pgcluster.instanceName" . }}-ro
spec:
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  target:
    template:
      data:
        region: garage
        accessKeyId: "{{ `{{ .accessKeyId }}` }}"
        secretAccessKey: "{{ `{{ .secretAccessKey }}` }}"
  data:
    - secretKey: accessKeyId
      remoteRef:
        key: CNPG_RO_ACCESS_KEY_ID
    - secretKey: secretAccessKey
      remoteRef:
        key: CNPG_RO_SECRET_ACCESS_KEY
{{- end -}}
