pvc:
  pvcName: tautulli-data
  storageRequest: 4Gi

app-template:
  controllers:
    tautulli:
      containers:
        tautulli:
          image:
            repository: lscr.io/linuxserver/tautulli
            tag: 2.16.0@sha256:f8b84be159b6e413db2b60426154522ceaf33d7190489c160de415501d5e722e
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/Los_Angeles"
  service:
    tautulli:
      controller: tautulli
      ports:
        http:
          port: 8181
  ingress:
    tautulli:
      className: external
      hosts:
        - host: tautulli.neils.house
          paths:
            - path: /
              service:
                identifier: tautulli
                port: http
  persistence:
    config:
      existingClaim: tautulli-data
