pvc:
  pvcName: radarr-data
  storageRequest: 4Gi

app-template:
  controllers:
    radarr:
      containers:
        radarr:
          image:
            repository: lscr.io/linuxserver/radarr
            tag: 5.27.5@sha256:af03fa6a993ee7efb65f6121ebd8c89de4a47aa1181cec03832e292a1446111f
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/Los_Angeles"
  service:
    radarr:
      controller: radarr
      ports:
        http:
          port: 7878
  ingress:
    radarr:
      className: external
      hosts:
        - host: radarr.neils.house
          paths:
            - path: /
              service:
                identifier: radarr
                port: http
  persistence:
    config:
      existingClaim: radarr-data
    media:
      type: nfs
      server: nas.internal
      path: /mnt/media
      globalMounts:
        - path: /mnt/media
