pvc:
  pvcName: radarr-data
  storageRequest: 4Gi

app-template:
  controllers:
    radarr:
      containers:
        radarr:
          image:
            repository: lscr.io/linuxserver/radarr
            tag: 5.28.0@sha256:c984533510abe0219a70e80d15bd0d212b7df21baa0913759c4ce6cc9092240b
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/Los_Angeles"
  service:
    radarr:
      controller: radarr
      ports:
        http:
          port: 7878
  ingress:
    radarr:
      className: external
      hosts:
        - host: radarr.neils.house
          paths:
            - path: /
              service:
                identifier: radarr
                port: http
  persistence:
    config:
      existingClaim: radarr-data
    media:
      type: nfs
      server: nas.internal
      path: /mnt/media
      globalMounts:
        - path: /mnt/media
