pvc:
  pvcName: pocket-id-data
  storageRequest: 128Mi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000

app-template:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
  controllers:
    pocket-id:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        pocket-id:
          image:
            repository: ghcr.io/pocket-id/pocket-id
            tag: v2.3.0-distroless@sha256:85a7485108325e34679b0fbca0baeb8418401f6d6cf59944d50f3ec013aafd09
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          env:
            APP_URL: "https://auth.neils.house"
            TRUST_PROXY: "true"
          envFrom:
            - secretRef:
                name: pocket-id
          probes:
            liveness: &probe
              enabled: true
              custom: true
              spec:
                exec:
                  command:
                    - /app/pocket-id
                    - healthcheck
                initialDelaySeconds: 10
                timeoutSeconds: 5
            readiness: *probe
  service:
    pocket-id:
      controller: pocket-id
      ports:
        http:
          port: 1411
  ingress:
    pocket-id:
      className: external
      hosts:
        - host: auth.neils.house
          paths:
            - path: /
              service:
                identifier: pocket-id
                port: http
  persistence:
    data:
      existingClaim: pocket-id-data
      globalMounts:
        - path: /app/data
