apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "oauth2-proxy.fullname" . }}
  labels:
    {{- include "oauth2-proxy.labels" . | nindent 4 }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "oauth2-proxy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "oauth2-proxy.labels" . | nindent 8 }}
    spec:
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "quay.io/oauth2-proxy/oauth2-proxy:v7.14.2@sha256:121cdc6520a02d7a2ddd181af6dbdc0f11f7d0c0d9353a999a69c3998cbfe37e"
          imagePullPolicy: IfNotPresent
          args:
            - --http-address=0.0.0.0:4180
            - --metrics-address=0.0.0.0:44180
            - --email-domain=*
            - --upstream=file:///dev/null
            - --reverse-proxy=true
            - --proxy-prefix={{ .Values.ingress.prefix }}
            - --provider=oidc
            - --oidc-issuer-url={{ .Values.oidc.issuerURL }}
            - --redirect-url=https://{{ .Values.ingress.host }}{{ .Values.ingress.prefix }}/callback
            - --client-id={{ .Values.oidc.clientID }}
            {{ range $group := .Values.oidc.allowedGroups }}
            - --allowed-group={{ $group }}
            {{- end }}
          envFrom:
            - secretRef:
                name: {{ include "oauth2-proxy.fullname" . }}
          ports:
            - containerPort: 4180
              name: http
              protocol: TCP
            - containerPort: 44180
              name: metrics
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /ping
              port: http
              scheme: HTTP
            initialDelaySeconds: 0
            timeoutSeconds: 1
          readinessProbe:
            httpGet:
              path: /ready
              port: http
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
