oauth2-proxy:
  ingress:
    className: &ingressClassName internal
    host: &ingressHost sabnzbd.internal.neils.house
  oidc:
    clientID: ed66bb96-a14b-4248-b973-c1c6a51070f1
    clientSecretKey: SABNZBD_OPENID_CLIENT_SECRET
    cookieSecretKey: SABNZBD_OPENID_COOKIE_SECRET

pvc:
  pvcName: sabnzbd-data
  storageRequest: 128Mi

app-template:
  controllers:
    sabnzbd:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        sabnzbd:
          image:
            repository: ghcr.io/binhex/arch-sabnzbdvpn
            tag: 4.5.5-1-01@sha256:411ed4ba589529960690c08de64fb2791c76d37d9a4278a99d30d7d32fc701f5
          command: # HACK: replace iptables(legacy) with iptables-nft on startup
            - /bin/bash
            - -c
            - |
              curl 'https://archlinux.org/mirrorlist/?country=US' | sed 's/^#Server/Server/g' > /etc/pacman.d/mirrorlist; \
              pacman -Sy --ask=4 iptables-nft libnftnl; \
              exec init.sh
          envFrom:
            - secretRef:
                name: sabnzbd
          env:
            DEBUG: "false"
            PUID: "1000"
            PGID: "1000"
            VPN_ENABLED: "yes"
            VPN_PROV: "pia"
            VPN_CLIENT: "wireguard"
            LAN_NETWORK: "192.168.1.0/24"
            NAME_SERVERS: "1.1.1.1,1.0.0.1"
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - SYS_MODULE
            privileged: true # required for wireguard
  service:
    sabnzbd:
      controller: sabnzbd
      ports:
        http:
          port: 8080
  ingress:
    sabnzbd:
      annotations:
        nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
      className: *ingressClassName
      hosts:
        - host: *ingressHost
          paths:
            - path: /
              service:
                identifier: sabnzbd
                port: http
  persistence:
    config:
      existingClaim: sabnzbd-data
    downloads:
      type: nfs
      server: nas.internal
      path: /mnt/media/downloads
      globalMounts:
        - path: /mnt/media/downloads
