pvc:
  pvcName: sabnzbd-data
  storageRequest: 128Mi

app-template:
  controllers:
    sabnzbd:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        sabnzbd:
          image:
            repository: ghcr.io/binhex/arch-sabnzbdvpn
            tag: 4.5.5-1-01@sha256:411ed4ba589529960690c08de64fb2791c76d37d9a4278a99d30d7d32fc701f5
          envFrom:
            - secretRef:
                name: sabnzbd
          env:
            DEBUG: "false"
            PUID: "1000"
            PGID: "1000"
            VPN_ENABLED: "yes"
            VPN_PROV: "pia"
            VPN_CLIENT: "wireguard"
            LAN_NETWORK: "192.168.1.0/24"
            NAME_SERVERS: "1.1.1.1,1.0.0.1"
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - SYS_MODULE
            privileged: true # required for wireguard
  service:
    sabnzbd:
      controller: sabnzbd
      ports:
        http:
          port: 8080
  ingress:
    sabnzbd:
      className: internal
      hosts:
        - host: sabnzbd.internal.neils.house
          paths:
            - path: /
              service:
                identifier: sabnzbd
                port: http
  persistence:
    config:
      existingClaim: sabnzbd-data
    downloads:
      type: nfs
      server: nas.internal
      path: /mnt/media/downloads
      globalMounts:
        - path: /mnt/media/downloads
