pvc:
  pvcName: sonarr-data
  storageRequest: 2Gi

app-template:
  controllers:
    sonarr:
      containers:
        sonarr:
          image:
            repository: lscr.io/linuxserver/sonarr
            tag: 4.0.16@sha256:4b8a853b76337cd5de5f69961e23b7d0792ce7bf0a8be083dd7202ef670bfc34
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/Los_Angeles"
  service:
    sonarr:
      controller: sonarr
      ports:
        http:
          port: 8989
  ingress:
    sonarr:
      className: external
      hosts:
        - host: sonarr.neils.house
          paths:
            - path: /
              service:
                identifier: sonarr
                port: http
  persistence:
    config:
      existingClaim: sonarr-data
    media:
      type: nfs
      server: nas.internal
      path: /mnt/media
      globalMounts:
        - path: /mnt/media
