pvc:
  pvcName: sonarr-data
  storageRequest: 2Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

app-template:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: OnRootMismatch
  controllers:
    sonarr:
      containers:
        sonarr:
          image:
            repository: ghcr.io/home-operations/sonarr
            tag: 4.0.16.2943@sha256:0a1b8f5cb5b072f7ad8c6ff64a25dc512115d1a114ecf19a58a3b4f870207ddd
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          env:
            TZ: "America/Los_Angeles"
          probes:
            liveness: &probe
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /ping
                  port: 8989
            readiness: *probe
  service:
    sonarr:
      controller: sonarr
      ports:
        http:
          port: 8989
  ingress:
    sonarr:
      className: external
      hosts:
        - host: sonarr.neils.house
          paths:
            - path: /
              service:
                identifier: sonarr
                port: http
  persistence:
    config:
      existingClaim: sonarr-data
    media:
      type: nfs
      server: nas.internal
      path: /mnt/media
      globalMounts:
        - path: /mnt/media
    tmp:
      type: emptyDir
