pvc:
  pvcName: immich-data
  storageRequest: 64Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000

pgcluster:
  image: ghcr.io/tensorchord/cloudnative-vectorchord:18.1-1.0.0@sha256:d844a09b25458ecb333208ba256df6baa320714257b9fb91752c2d8e75cc2f60
  databaseName: immich
  generation: 2

  # ref: https://github.com/immich-app/immich-charts/blob/main/local/cloudnative-pg.yaml
  cluster:
    storage:
      size: 8Gi

    postgresql:
      shared_preload_libraries:
        - vchord.so

  initdb:
    postInitApplicationSQL:
      - CREATE EXTENSION vchord CASCADE;
      - CREATE EXTENSION earthdistance CASCADE;

immich:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroupChangePolicy: OnRootMismatch

  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault

  immich:
    persistence:
      library:
        existingClaim: immich-data

  valkey:
    enabled: true

  server:
    defaultPodOptions:
      securityContext:
        supplementalGroups:
          - 3003
          - 3004

    controllers:
      main:
        strategy: Recreate
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.5@sha256:161b1ec8af9e0478797cfd75ea857c7e55af271fa7cea103cb30ab1ba5b418d8
            env:
              DB_URL:
                valueFrom:
                  secretKeyRef:
                    name: immich-cluster-v2-app
                    key: uri

    ingress:
      main:
        enabled: true
        className: external
        hosts:
          - host: photos.neils.house
            paths:
              - path: "/"
                service:
                  identifier: main

    persistence:
      photos:
        type: nfs
        server: nas.internal
        path: /mnt/data/photos
        globalMounts:
          - path: /mnt/data/photos
            readOnly: true
      photosync-emily:
        type: nfs
        server: nas.internal
        path: /mnt/data/photosync_emily
        globalMounts:
          - path: /mnt/data/photosync_emily
            readOnly: true
      photosync-neil:
        type: nfs
        server: nas.internal
        path: /mnt/data/photosync_neil
        globalMounts:
          - path: /mnt/data/photosync_neil
            readOnly: true

  machine-learning:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.5@sha256:2e17e15855907ece0d5b3a7bf625b12f6d987a5854fa71d888641acae28b0323

    persistence:
      dotconfig:
        type: emptyDir
        globalMounts:
          - path: /.config
      dotcache:
        type: emptyDir
        globalMounts:
          - path: /.cache
      tmp:
        type: emptyDir
