spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/nrlulz/homelab
    targetRevision: master

allApps:
  automatedSync:
    enabled: true
    prune: true
    selfHeal: true
  managedNamespaceMetadata:
    annotations:
      volsync.backube/privileged-movers: "true"

apps:
  apps:
    - name: actual

    - name: atuin

    - name: immich

    - name: paperless-ngx

    - name: radicale

    - name: stirling-pdf

  ha:
    - name: home-assistant

    - name: mosquitto

    - name: node-red

    - name: piper

    - name: whisper

    - name: zigbee2mqtt
      managedNamespaceMetadata:
        labels:
          # host path mount
          pod-security.kubernetes.io/enforce: privileged

    - name: zwave-js-ui
      managedNamespaceMetadata:
        labels:
          # host path mount
          pod-security.kubernetes.io/enforce: privileged

  media:
    - name: bazarr

    - name: calibre

    - name: jellyfin

    - name: plex

    - name: privoxy
      managedNamespaceMetadata:
        labels:
          # NET_ADMIN, SYS_MODULE capabilities (vpn)
          pod-security.kubernetes.io/enforce: privileged

    - name: prowlarr

    - name: qbittorrent
      managedNamespaceMetadata:
        labels:
          # NET_ADMIN, SYS_MODULE capabilities (vpn)
          pod-security.kubernetes.io/enforce: privileged

    - name: radarr

    - name: recyclarr

    - name: sabnzbd
      managedNamespaceMetadata:
        labels:
          # NET_ADMIN, SYS_MODULE capabilities (vpn)
          pod-security.kubernetes.io/enforce: privileged

    - name: shelfmark
      namespace: calibre

    - name: seerr

    - name: sonarr

    - name: tautulli

    - name: unpackerr

  monitoring:
    - name: grafana

    - name: kubernetes-event-exporter

    - name: loki

    - name: prometheus
      managedNamespaceMetadata:
        labels:
          # host path mount (node exporter)
          pod-security.kubernetes.io/enforce: privileged

    - name: promtail
      managedNamespaceMetadata:
        labels:
          # host path mount
          pod-security.kubernetes.io/enforce: privileged

  system:
    - name: argocd

    - name: cert-manager

    - name: cloudnative-pg
      namespace: cnpg-system

    - name: external-secrets
      managedNamespaceMetadata:
        labels:
          # tells trust-manager to create a configmap containing ca cert in this namespace
          selfsigned-root-ca: "true"

    - name: ingress-nginx

    - name: ingress-nginx-internal

    - name: intel-gpu-device-plugin
      managedNamespaceMetadata:
        labels:
          # host path mount
          pod-security.kubernetes.io/enforce: privileged

    - name: longhorn
      managedNamespaceMetadata:
        labels:
          # host path mount
          pod-security.kubernetes.io/enforce: privileged

    - name: metallb
      ignoreDifferences:
        - kind: CustomResourceDefinition
          group: apiextensions.k8s.io
          name: bgppeers.metallb.io
          jsonPointers:
            - /spec/conversion/webhook/clientConfig/caBundle
      managedNamespaceMetadata:
        labels:
          # NET_ADMIN, NET_RAW, SYS_ADMIN, NET_BIND_SERVICE capabilities
          pod-security.kubernetes.io/enforce: privileged

    - name: node-feature-discovery
      managedNamespaceMetadata:
        labels:
          # host path mount
          pod-security.kubernetes.io/enforce: privileged

    - name: reloader

    - name: pocket-id

    - name: snapshot-controller
      ignoreDifferences:
        - kind: Secret
          name: snapshot-controller-conversion-webhook
          jsonPointers:
            - /data/ca.crt
            - /data/tls.crt
            - /data/tls.key
        - kind: CustomResourceDefinition
          group: apiextensions.k8s.io
          name: volumegroupsnapshotcontents.groupsnapshot.storage.k8s.io
          jsonPointers:
            - /spec/conversion/webhook/clientConfig/caBundle

    - name: system-upgrade-controller
      managedNamespaceMetadata:
        labels:
          # host path mount, SYS_BOOT capability
          pod-security.kubernetes.io/enforce: privileged

    - name: volsync
