apps:
  apps:
    - name: actual

    - name: atuin

    - name: immich

    - name: paperless-ngx

    - name: radicale

    - name: stirling-pdf

  ha:
    - name: home-assistant

    - name: mosquitto

    - name: node-red

    - name: piper

    - name: whisper

    - name: zigbee2mqtt
      spec:
        syncPolicy:
          managedNamespaceMetadata:
            labels:
              # host path mount
              pod-security.kubernetes.io/enforce: privileged

    - name: zwave-js-ui
      spec:
        syncPolicy:
          managedNamespaceMetadata:
            labels:
              # host path mount
              pod-security.kubernetes.io/enforce: privileged

  media:
    - name: bazarr

    - name: calibre

    - name: jellyfin

    - name: plex

    - name: privoxy
      spec:
        syncPolicy:
          managedNamespaceMetadata:
            labels:
              # NET_ADMIN, SYS_MODULE capabilities (vpn)
              pod-security.kubernetes.io/enforce: privileged

    - name: prowlarr

    - name: qbittorrent
      spec:
        syncPolicy:
          managedNamespaceMetadata:
            labels:
              # NET_ADMIN, SYS_MODULE capabilities (vpn)
              pod-security.kubernetes.io/enforce: privileged

    - name: radarr

    - name: recyclarr

    - name: sabnzbd
      spec:
        syncPolicy:
          managedNamespaceMetadata:
            labels:
              # NET_ADMIN, SYS_MODULE capabilities (vpn)
              pod-security.kubernetes.io/enforce: privileged

    - name: shelfmark
      spec:
        destination:
          namespace: calibre

    - name: seerr

    - name: sonarr

    - name: tautulli

    - name: unpackerr

  monitoring:
    - name: grafana

    - name: kubernetes-event-exporter

    - name: loki

    - name: prometheus
      spec:
        syncPolicy:
          managedNamespaceMetadata:
            labels:
              # host path mount (node exporter)
              pod-security.kubernetes.io/enforce: privileged

    - name: promtail
      spec:
        syncPolicy:
          managedNamespaceMetadata:
            labels:
              # host path mount
              pod-security.kubernetes.io/enforce: privileged

  system:
    - name: argocd
      metadata:
        annotations:
          argocd.argoproj.io/compare-options: ServerSideDiff=true
      spec:
        syncPolicy:
          syncOptions:
            ServerSideApply: "true"

    - name: cert-manager

    - name: cloudnative-pg
      metadata:
        annotations:
          argocd.argoproj.io/compare-options: ServerSideDiff=true
      spec:
        destination:
          namespace: cnpg-system
        syncPolicy:
          syncOptions:
            ServerSideApply: "true"

    - name: external-secrets
      metadata:
        annotations:
          argocd.argoproj.io/compare-options: ServerSideDiff=true
      spec:
        syncPolicy:
          syncOptions:
            ServerSideApply: "true"
          managedNamespaceMetadata:
            labels:
              # tells trust-manager to create a configmap containing ca cert in this namespace
              selfsigned-root-ca: "true"

    - name: ingress-nginx

    - name: ingress-nginx-internal

    - name: intel-gpu-device-plugin
      spec:
        syncPolicy:
          managedNamespaceMetadata:
            labels:
              # host path mount
              pod-security.kubernetes.io/enforce: privileged

    - name: longhorn
      spec:
        syncPolicy:
          managedNamespaceMetadata:
            labels:
              # host path mount
              pod-security.kubernetes.io/enforce: privileged

    - name: metallb
      spec:
        ignoreDifferences:
          crd:
            kind: CustomResourceDefinition
            group: apiextensions.k8s.io
            name: bgppeers.metallb.io
            jsonPointers:
              - /spec/conversion/webhook/clientConfig/caBundle
        syncPolicy:
          managedNamespaceMetadata:
            labels:
              # NET_ADMIN, NET_RAW, SYS_ADMIN, NET_BIND_SERVICE capabilities
              pod-security.kubernetes.io/enforce: privileged

    - name: node-feature-discovery
      spec:
        syncPolicy:
          managedNamespaceMetadata:
            labels:
              # host path mount
              pod-security.kubernetes.io/enforce: privileged

    - name: reloader

    - name: pocket-id

    - name: snapshot-controller
      spec:
        ignoreDifferences:
          webhook:
            kind: Secret
            name: snapshot-controller-conversion-webhook
            jsonPointers:
              - /data/ca.crt
              - /data/tls.crt
              - /data/tls.key
          crd:
            kind: CustomResourceDefinition
            group: apiextensions.k8s.io
            name: volumegroupsnapshotcontents.groupsnapshot.storage.k8s.io
            jsonPointers:
              - /spec/conversion/webhook/clientConfig/caBundle

    - name: system-upgrade-controller
      spec:
        syncPolicy:
          managedNamespaceMetadata:
            labels:
              # host path mount, SYS_BOOT capability
              pod-security.kubernetes.io/enforce: privileged

    - name: volsync
