pvc:
  pvcName: jellyfin-data
  storageRequest: 96Gi
  cacheCapacity: 4Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

app-template:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: OnRootMismatch
  controllers:
    jellyfin:
      containers:
        jellyfin:
          image:
            repository: docker.io/jellyfin/jellyfin
            tag: 10.11.6@sha256:333b647716631443a43c7fabac4b0c46b4e2f036bad19547e00958f10f721b85
          env:
            JELLYFIN_LOG_DIR: "/logs"
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault
          resources:
            requests:
              gpu.intel.com/i915: 1
            limits:
              gpu.intel.com/i915: 1
              memory: 16Gi
  service:
    jellyfin:
      controller: jellyfin
      type: LoadBalancer
      externalTrafficPolicy: Local
      annotations:
        metallb.io/loadBalancerIPs: 192.168.1.25
      ports:
        http:
          port: 8096
  ingress:
    jellyfin:
      className: internal
      hosts:
        - host: jellyfin.internal.neils.house
          paths:
            - path: /
              service:
                identifier: jellyfin
                port: http
  persistence:
    cache:
      storageClass: longhorn-ephemeral
      suffix: cache
      size: 8Gi
      accessMode: ReadWriteOnce
    config:
      existingClaim: jellyfin-data
    logs:
      type: emptyDir
    media:
      type: nfs
      server: nas.internal
      path: /mnt/media
      globalMounts:
        - path: /mnt/media
          readOnly: true
    music:
      type: nfs
      server: nas.internal
      path: /mnt/data/music
      globalMounts:
        - path: /mnt/data/music
          readOnly: true
    tmp:
      type: emptyDir
    transcode:
      type: emptyDir
