pvc:
  pvcName: plex-data
  storageRequest: 96Gi
  cacheCapacity: 8Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

app-template:
  defaultPodOptions:
    securityContext:
      fsGroup: 1000
      fsGroupChangePolicy: OnRootMismatch
  controllers:
    plex:
      containers:
        plex:
          image:
            repository: docker.io/plexinc/pms-docker
            tag: 1.43.0.10467-2b1ba6e69-amd64@sha256:f42deee6fad8c0d3e40ac52163ca8f6acf520bafda617f845ad7970dc35fe128
          env:
            ADVERTISE_IP: "https://plex.neils.house:443,http://192.168.1.28:32400"
            PLEX_UID: "1000"
            PLEX_GID: "1000"
            TZ: "America/Los_Angeles"
          resources:
            requests:
              gpu.intel.com/i915: 1
            limits:
              gpu.intel.com/i915: 1
              memory: 16Gi
  service:
    plex:
      controller: plex
      type: LoadBalancer
      externalTrafficPolicy: Local
      annotations:
        metallb.io/loadBalancerIPs: 192.168.1.28
      ports:
        http:
          port: 32400
  ingress:
    plex:
      annotations:
        nginx.ingress.kubernetes.io/backend-protocol: HTTPS
      className: external
      hosts:
        - host: plex.neils.house
          paths:
            - path: /
              service:
                identifier: plex
                port: http
  persistence:
    cache:
      storageClass: longhorn-ephemeral
      suffix: cache
      size: 8Gi
      accessMode: ReadWriteOnce
      globalMounts:
        - path: /config/Library/Application Support/Plex Media Server/Cache
    data:
      existingClaim: plex-data
      globalMounts:
        - path: /config/Library/Application Support/Plex Media Server
    logs:
      type: emptyDir
      globalMounts:
        - path: /config/Library/Application Support/Plex Media Server/Logs
    media:
      type: nfs
      server: nas.internal
      path: /mnt/media
      globalMounts:
        - path: /mnt/media
          readOnly: true
    music:
      type: nfs
      server: nas.internal
      path: /mnt/data/music
      globalMounts:
        - path: /mnt/data/music
          readOnly: true
    tmp:
      type: emptyDir
    transcode:
      type: emptyDir
