pvc:
  pvcName: actual-data
  storageRequest: 256Mi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

actual:
  defaultPodOptions: &defaultPodOptions
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
  controllers:
    actual:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        actual:
          image:
            repository: ghcr.io/actualbudget/actual
            tag: 26.2.1@sha256:ea21a0b6243797d35ef6c4a8713c87efaba8fec3b3663220fa3af61f352fba5e
          securityContext: &securityContext
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault
          probes:
            startup:
              enabled: true
            liveness:
              enabled: true
            readiness:
              enabled: true
          env:
            ACTUAL_LOGIN_METHOD: openid
            ACTUAL_OPENID_CLIENT_ID: 290e9d0e-e4d1-4c7c-a720-e7967cd6c191
            ACTUAL_OPENID_DISCOVERY_URL: https://auth.neils.house/.well-known/openid-configuration
            ACTUAL_OPENID_SERVER_HOSTNAME: https://actual.neils.house
          envFrom:
            - secretRef:
                name: actual
  service:
    actual:
      controller: actual
      ports:
        http:
          port: 5006
  ingress:
    actual:
      className: external
      hosts:
        - host: actual.neils.house
          paths:
            - path: /
              service:
                identifier: actual
                port: http
  persistence:
    data:
      existingClaim: actual-data

helperBase: &helperBase
  image:
    repository: ghcr.io/psybers/actual-helpers
    tag: latest@sha256:8354de0530b47bb5cf61d9d57f373b0056d0971e14721af640dcb1d39bea2408
  securityContext: *securityContext
  env:
    ACTUAL_CACHE_DIR: /cache
  envFrom:
    - configMapRef:
        name: actual-helpers
    - secretRef:
        name: actual-helpers

actual-helpers:
  global:
    nameOverride: helpers
  defaultPodOptions: *defaultPodOptions
  configMaps:
    actual-helpers:
      data:
        ACTUAL_SERVER_URL: http://actual:5006
        NODE_TLS_REJECT_UNAUTHORIZED: "1"
  controllers:
    track-investments:
      type: cronjob
      cronjob:
        timeZone: America/Los_Angeles
        schedule: "0 1 * * 0"  # 1am on Sundays
      containers:
        track-investments:
          <<: *helperBase
          command: ["node", "track-investments.js"]
    sync-kbb:
      type: cronjob
      cronjob:
        timeZone: America/Los_Angeles
        schedule: "0 2 1 * *"  # 2am on the 1st
      containers:
        sync-kbb:
          <<: *helperBase
          command: ["node", "kbb.js"]
    apply-interest:
      type: cronjob
      cronjob:
        timeZone: America/Los_Angeles
        schedule: "0 3 1 * *"  # 3am on the 1st
      containers:
        apply-interest:
          <<: *helperBase
          command: ["node", "apply-interest.js"]
  persistence:
    cache:
      type: emptyDir
