external-secrets:
  bitwarden-sdk-server:
    enabled: true

    podAnnotations:
      reloader.stakater.com/auto: "true"

    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      seccompProfile:
        type: RuntimeDefault

    securityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        drop:
          - ALL
