pvc:
  pvcName: zigbee2mqtt-data
  storageRequest: 128Mi

coordinatorPath: &coordinatorPath "/dev/serial/by-id/usb-Nabu_Casa_SkyConnect_v1.0_6abf56c1aa9ced11b8937afaa7669f5d-if00-port0"

app-template:
  defaultPodOptions:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: "feature.node.kubernetes.io/usb-ff_10c4_ea60.present"
                  operator: "Exists"
  controllers:
    zigbee2mqtt:
      containers:
        zigbee2mqtt:
          image:
            repository: docker.io/koenkk/zigbee2mqtt
            tag: 2.7.0@sha256:7da30df2c3e53ea02e0bbce0241306358e946b2b5ce6ec02ecdf90be0a96c694
          env:
            ZIGBEE2MQTT_CONFIG_SERIAL_PORT: *coordinatorPath
            ZIGBEE2MQTT_DATA: /config
          securityContext:
            privileged: true
          probes:
            startup:
              enabled: true
            liveness:
              enabled: true
            readiness:
              enabled: true
  service:
    zigbee2mqtt:
      controller: zigbee2mqtt
      ports:
        http:
          port: 8080
  ingress:
    zigbee2mqtt:
      className: internal
      hosts:
        - host: zigbee.internal.neils.house
          paths:
            - path: /
              service:
                identifier: zigbee2mqtt
                port: http
  persistence:
    config:
      existingClaim: zigbee2mqtt-data
    coordinator:
      type: hostPath
      hostPath: *coordinatorPath
      hostPathType: CharDevice
