# REQUIRED: the name of the postgresql database to create
# this should be unique across all databases in the (k8s) cluster
databaseName: ""

# OPTIONAL: the name of the postgresql user which will own the created database
# defaults to .Values.databaseName if not set
databaseOwner: ""

# increment when restoring a cluster to store backups/wals under a separate prefix in object storage
generation: 1

# e.g. ghcr.io/cloudnative-pg/postgresql:17.5
#   or
# ghcr.io/tensorchord/cloudnative-vectorchord:17.5-0.3.0
image: ""

annotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "9187"

s3:
  endpoint: http://nas.internal:30188
  bucket: s3://cloudnativepg

initdb: {}
  # example: adding an extension to a new database
  ######################################################################################
  # postInitSQL:
  #   - CREATE EXTENSION IF NOT EXISTS extname CASCADE;

recovery:
  # If this is set to true, recovery mode is enabled. in this chart, that means:
  # - scheduled backup and wal archiving are turned off, even if enabled in chart values
  # - an externalCluster named "restore" is added, pointing to a read-only ObjectStore
  enabled: false

  # The path to a basebackup in object storage looks like this:
  #   s3://bucket/{instanceName}/{serverName}/base/{backupID}/
  #
  # Use this to determine the values of sourceInstanceName, sourceServerName, and
  # possibly target.backupID below.

  # REQUIRED: this is the full instance name of the source cluster, i.e. the instanceName
  #   component of the object storage path described above. Has the form:
  #
  #     "{databaseName}-cluster-v{generation}"
  #
  #  e.g. "somedatabase-cluster-v1"
  sourceInstanceName: ""

  # OPTIONAL: this is the plugins[*].parameters.serverName that the source cluster used
  #   when backing up to the ObjectStore, i.e. the serverName component of the object
  #   storage path described above. Defaults to .Values.databaseName if not set.
  sourceServerName: ""

  # Example: just restore to the latest point in time available in the ObjectStore
  #   (don't specify any target)
  ######################################################################################
  target: {}

  ######################################################################################
  # Example: point-in-time recovery
  #
  # docs: https://cloudnative-pg.io/documentation/1.27/recovery/#point-in-time-recovery-pitr
  #
  # Note: PostgreSQL recovery will stop when it encounters the first
  # transaction that occurs after the specified time. If no such
  # transaction exists after the target time, the recovery process
  # will fail.
  #
  # Note: targetTime timestamp formatting is weird:
  # - must put a space between date and time, can't use a T
  # - must include HH timezone offset (+00), cannot indicate UTC with Z
  # - invalid: 2025-11-01T22:18:16.922976+00
  # - invalid: 2025-11-01T22:18:16+00
  # - invalid: 2025-11-01T22:18:16Z
  # - invalid: 2025-11-01 22:18:16.922976Z
  # - invalid: 2025-11-01 22:18:16Z
  # - valid: 2025-11-01 22:18:16.922976+00
  # - valid: 2025-11-01 22:18:16+00
  ######################################################################################
  # target:
  #   targetTime: "2020-01-01 00:00:00+00"

  ######################################################################################
  # Example: recovery to a specific base backup
  #
  # Note: backupID and the metadata.name of a Backup resource are not the same thing.
  # to find the backupID, either look at the Backup's status.backupId, e.g.:
  #
  #   kubectl get backups.postgresql.cnpg.io test-20251101 -o jsonpath='{.status.backupId}'
  #
  # Or, look in object storage inside the "base" directory. A Backup resource does not
  # need to exist this way, as long as the basebackup files are there in object storage.
  #
  ######################################################################################
  # target:
  #   backupID: 20251102T043535
  #   targetImmediate: true
  ######################################################################################

backup:
  enabled: true

  # https://pkg.go.dev/github.com/robfig/cron#hdr-CRON_Expression_Format
  # tl;dr: it's cron but with seconds up front
  schedule: "0 0 0 * * *"

cluster:
  # 2 = 1 reader + 1 writer
  instances: 2

  storage:
    size: 1Gi
    storageClass: longhorn-standard

  # example: preloading libraries
  ######################################################################################
  # postgresql:
  #   shared_preload_libraries:
  #     - "extension name here"

  # stuff that probably won't need changing but you could if you want to i guess
  ######################################################################################

  primaryUpdateMethod: switchover
  enableSuperuserAccess: true

  affinity:
    topologyKey: topology.kubernetes.io/zone

