app-template:
  defaultPodOptions:
    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/controller
                  operator: In
                  values:
                    - home-assistant
            namespaces:
              - home-assistant
            topologyKey: kubernetes.io/hostname
  controllers:
    whisper:
      containers:
        whisper:
          image:
            repository: docker.io/rhasspy/wyoming-whisper
            tag: 3.0.2@sha256:995b37523bc422f4f7649e50ccded97a5b9bf6d1d0420591183a778dd5d7d3f2
          args:
            - --language
            - en
            - --model
            - base-int8
            - --data-dir
            - /data
  service:
    whisper:
      controller: whisper
      ports:
        http:
          port: 10300
  persistence:
    data:
      type: emptyDir
