pvc:
  pvcName: mosquitto-data
  storageRequest: 128Mi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

app-template:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
  configMaps:
    mosquitto:
      data:
        mosquitto.conf: |
          allow_anonymous true
          listener 1883
          persistence true
          persistence_location /data
  controllers:
    mosquitto:
      containers:
        mosquitto:
          image:
            repository: docker.io/library/eclipse-mosquitto
            tag: 2.0.22@sha256:e011726bdfa757011bc8b8716e03b7c35d2c3f623d9f658c2c6bf66e909ea42e
          probes:
            startup:
              enabled: true
            liveness:
              enabled: true
            readiness:
              enabled: true
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
  service:
    mosquitto:
      controller: mosquitto
      ports:
        mqtt:
          port: 1883
  persistence:
    data:
      existingClaim: mosquitto-data
    config:
      type: configMap
      identifier: mosquitto
      globalMounts:
        - path: /mosquitto/config/mosquitto.conf
          subPath: mosquitto.conf
