pvc:
  pvcName: privoxy-data
  storageRequest: 128Mi

app-template:
  controllers:
    privoxy:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        privoxy:
          image:
            repository: ghcr.io/binhex/arch-privoxyvpn
            tag: 4.0.0-1-01@sha256:905e12ec81986fcc947c1fd7945a7f8e2ddd247c3c2b12c8585b0a9b21a62244
          command: # HACK: replace iptables(legacy) with iptables-nft on startup
            - /bin/bash
            - -c
            - |
              echo 'Server = https://dfw.mirror.rackspace.com/archlinux/$repo/os/$arch' > /etc/pacman.d/mirrorlist; \
              pacman -Sy --ask=4 iptables-nft libnftnl; \
              exec init.sh
          envFrom:
            - secretRef:
                name: privoxy
          env:
            DEBUG: "false"
            PUID: "1000"
            PGID: "1000"
            UMASK: "000"
            ENABLE_PRIVOXY: "yes"
            VPN_ENABLED: "yes"
            VPN_PROV: "pia"
            VPN_CLIENT: "wireguard"
            LAN_NETWORK: "192.168.1.0/24,10.0.0.0/8"
            NAME_SERVERS: "1.1.1.1,1.0.0.1"
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - SYS_MODULE
            privileged: true # required for wireguard
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command:
                    - /bin/sh
                    - -c
                    - curl --fail --proxy http://localhost:8118 https://jsonip.com || exit 1
                initialDelaySeconds: 30
                periodSeconds: 10
                timeoutSeconds: 10
                failureThreshold: 20
  service:
    privoxy:
      controller: privoxy
      ports:
        http:
          port: 8118
  persistence:
    config:
      existingClaim: privoxy-data
