pvc-data:
  pvcName: calibre-data
  storageRequest: 4Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

pvc-library:
  pvcName: calibre-library
  storageRequest: 8Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

app-template:
  controllers:
    calibre:
      containers:
        calibre:
          image:
            repository: ghcr.io/crocodilestick/calibre-web-automated
            tag: v4.0.6@sha256:c31a738b6d5ec6982c050063dd3f063b6943eb1051fc81144789f840d9093a8d
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/Los_Angeles"
          probes:
            startup: &probe
              enabled: true
              custom: true
              spec:
                failureThreshold: 20
                httpGet:
                  path: /login
                  port: 8083
                periodSeconds: 30
                successThreshold: 1
                timeoutSeconds: 3
            liveness: *probe
            readiness: *probe
  service:
    calibre:
      controller: calibre
      ports:
        http:
          port: 8083
  ingress:
    calibre:
      className: internal
      hosts:
        - host: calibre.internal.neils.house
          paths:
            - path: /
              service:
                identifier: calibre
                port: http
  persistence:
    config:
      existingClaim: calibre-data
    calibre-library:
      existingClaim: calibre-library
    cwa-book-ingest:
      existingClaim: calibre-ingest
