oauth2-proxy:
  ingress:
    className: &ingressClassName internal
    host: &ingressHost calibre-downloader.internal.neils.house
  oidc:
    clientID: 14cf21c8-41cc-4459-ab9c-53d384a084cb
    clientSecretKey: CALIBRE_OPENID_CLIENT_SECRET
    cookieSecretKey: CALIBRE_OPENID_COOKIE_SECRET

pvc-data:
  pvcName: calibre-data
  storageRequest: 4Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

pvc-library:
  pvcName: calibre-library
  storageRequest: 8Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

calibre:
  controllers:
    calibre:
      containers:
        calibre:
          image:
            repository: ghcr.io/crocodilestick/calibre-web-automated
            tag: V3.1.4@sha256:577e846f104fd21453ef306eefb4a95dd95b3b9ddd2463a150944494284da0fd
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/Los_Angeles"
          probes: &probes
            liveness:
              enabled: true
            readiness:
              enabled: true
  service:
    calibre:
      controller: calibre
      ports:
        http:
          port: 8083
  ingress:
    calibre:
      className: internal
      hosts:
        - host: calibre.internal.neils.house
          paths:
            - path: /
              service:
                identifier: calibre
                port: http
  persistence:
    config:
      existingClaim: calibre-data
    calibre-library:
      existingClaim: calibre-library
    cwa-book-ingest:
      existingClaim: calibre-ingest

downloader:
  global:
    nameOverride: downloader
  controllers:
    downloader:
      containers:
        downloader:
          image:
            repository: ghcr.io/calibrain/shelfmark
            tag: v1.0.2@sha256:130252047eaf1e4fc813c73b3250e4b6f0f244f8d2de8d42bf5380bddca643b7
          probes: *probes
          env:
            PUID: "1000"
            PGID: "1000"
  service:
    downloader:
      controller: downloader
      ports:
        http:
          port: 8084
  ingress:
    downloader:
      annotations:
        nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
      className: *ingressClassName
      hosts:
        - host: *ingressHost
          paths:
            - path: /
              service:
                identifier: downloader
                port: http
  persistence:
    cwa-book-ingest:
      existingClaim: calibre-ingest
