pvc-data:
  pvcName: calibre-data
  storageRequest: 4Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

pvc-library:
  pvcName: calibre-library
  storageRequest: 8Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

calibre:
  controllers:
    calibre:
      containers:
        calibre:
          image:
            repository: ghcr.io/crocodilestick/calibre-web-automated
            tag: V3.1.4@sha256:577e846f104fd21453ef306eefb4a95dd95b3b9ddd2463a150944494284da0fd
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/Los_Angeles"
          probes: &probes
            liveness:
              enabled: true
            readiness:
              enabled: true
  service:
    calibre:
      controller: calibre
      ports:
        http:
          port: 8083
  ingress:
    calibre:
      className: internal
      hosts:
        - host: calibre.internal.neils.house
          paths:
            - path: /
              service:
                identifier: calibre
                port: http
  persistence:
    config:
      existingClaim: calibre-data
    calibre-library:
      existingClaim: calibre-library
    cwa-book-ingest:
      existingClaim: calibre-ingest

downloader:
  global:
    nameOverride: downloader
  controllers:
    downloader:
      containers:
        downloader:
          image:
            repository: ghcr.io/calibrain/calibre-web-automated-book-downloader
            tag: v0.2.4@sha256:b1296c5edc89eee8742d86392ce40707233671044a454e002821e5c76cd58deb
          probes: *probes
          env:
            UID: "1000"
            GID: "1000"
  service:
    downloader:
      controller: downloader
      ports:
        http:
          port: 8084
  ingress:
    downloader:
      className: internal
      hosts:
        - host: calibre-downloader.internal.neils.house
          paths:
            - path: /
              service:
                identifier: downloader
                port: http
  persistence:
    cwa-book-ingest:
      existingClaim: calibre-ingest
