pvc:
  pvcName: overseerr-data
  storageRequest: 128Mi

app-template:
  controllers:
    overseerr:
      containers:
        overseerr:
          image:
            repository: lscr.io/linuxserver/overseerr
            tag: 1.34.0@sha256:ad4c6a173bc0f5e1ff9bfa4169fe232fd6556796677d30daa455f6348093a3d5
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/Los_Angeles"
  service:
    overseerr:
      controller: overseerr
      ports:
        http:
          port: 5055
  ingress:
    overseerr:
      className: external
      hosts:
        - host: requests.neils.house
          paths:
            - path: /
              service:
                identifier: overseerr
                port: http
  persistence:
    config:
      existingClaim: overseerr-data
