pvc:
  pvcName: node-red-data
  storageRequest: 1Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000

app-template:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/controller
                  operator: In
                  values:
                    - home-assistant
            namespaces:
              - home-assistant
            topologyKey: kubernetes.io/hostname
  controllers:
    node-red:
      containers:
        node-red:
          image:
            repository: docker.io/nodered/node-red
            tag: 4.1.1@sha256:a840dff7e3f704466600d9e4660d46a9f795c589bf9be20a5727c636a8125563
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault
          env:
            TZ: "America/Los_Angeles"
          probes:
            startup:
              enabled: true
            liveness:
              enabled: true
            readiness:
              enabled: true
  service:
    node-red:
      controller: node-red
      ports:
        http:
          port: 1880
  ingress:
    node-red:
      className: internal
      hosts:
        - host: node-red.internal.neils.house
          paths:
            - path: /
              service:
                identifier: node-red
                port: http
  persistence:
    data:
      existingClaim: node-red-data
