oauth2-proxy:
  ingress:
    className: &ingressClassName internal
    host: &ingressHost node-red.internal.neils.house
  oidc:
    clientID: b63df408-c370-4648-b065-cf00eccc4bd3
    clientSecretKey: HOMEASSISTANT_OPENID_CLIENT_SECRET
    cookieSecretKey: HOMEASSISTANT_OPENID_COOKIE_SECRET

pvc:
  pvcName: node-red-data
  storageRequest: 1Gi
  moverSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000

app-template:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/controller
                  operator: In
                  values:
                    - home-assistant
            namespaces:
              - home-assistant
            topologyKey: kubernetes.io/hostname
  controllers:
    node-red:
      containers:
        node-red:
          image:
            repository: docker.io/nodered/node-red
            tag: 4.1.4@sha256:926f1f116276e434dd8c74ab7ca36eb0158e1def5cf2fbe78451938ee0e58790
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault
          env:
            TZ: "America/Los_Angeles"
          probes:
            startup:
              enabled: true
            liveness:
              enabled: true
            readiness:
              enabled: true
  service:
    node-red:
      controller: node-red
      ports:
        http:
          port: 1880
  ingress:
    node-red:
      annotations:
        nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
      className: *ingressClassName
      hosts:
        - host: *ingressHost
          paths:
            - path: /
              service:
                identifier: node-red
                port: http
  persistence:
    data:
      existingClaim: node-red-data
