app-template:
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
  controllers:
    system-upgrade-controller:
      containers:
        system-upgrade-controller:
          image:
            repository: docker.io/rancher/system-upgrade-controller
            tag: v0.18.0@sha256:9813f85653c8378eef0582108a52f5c8f7b92da71e63f88e4cb234e0dbff27d1
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          env:
            SYSTEM_UPGRADE_CONTROLLER_LEADER_ELECT: true
            SYSTEM_UPGRADE_CONTROLLER_NAME: system-upgrade-controller
            SYSTEM_UPGRADE_CONTROLLER_NAMESPACE: system-upgrade-controller
            SYSTEM_UPGRADE_CONTROLLER_NODE_NAME:
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            SYSTEM_UPGRADE_JOB_ACTIVE_DEADLINE_SECONDS: "3600"
            SYSTEM_UPGRADE_JOB_BACKOFF_LIMIT: "99"
            SYSTEM_UPGRADE_JOB_PRIVILEGED: false
  serviceAccount:
    system-upgrade-controller: {}
  rbac:
    bindings:
      system-upgrade-controller:
        type: ClusterRoleBinding
        roleRef:
          kind: ClusterRole
          name: cluster-admin
        subjects:
          - identifier: system-upgrade-controller
