# https://dag-andersen.github.io/argocd-diff-preview/github-actions-workflow/

name: Argo CD Diff Preview

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          path: pull-request

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: master
          path: master

      - name: Render chart-of-apps
        run: |
          helm template master/cluster > master/rendered.yaml
          helm template pull-request/cluster > pull-request/rendered.yaml

      - name: Extract ArgoCD chart version from master branch
        run: |
          version=$(yq e '.dependencies[] | select(.name == "argo-cd") | .version' master/system/argocd/Chart.yaml)
          echo "ARGOCD_CHART_VERSION=$version" >> $GITHUB_ENV

      - name: Generate Diff
        env:
          ARGOCD_DIFF_PREVIEW_IMAGE: docker.io/dagandersen/argocd-diff-preview:v0.1.23@sha256:563f6b42e1c9283a7e290ed0eefcda72f715f9f82ab54a7340dd179e13665478
          KIND_NODE_IMAGE: docker.io/kindest/node:v1.34.3@sha256:08497ee19eace7b4b5348db5c6a1591d7752b164530a36f855cb0f2bdcbadd48
        run: |
          docker run \
            --network=host \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v $(pwd)/master:/base-branch \
            -v $(pwd)/pull-request:/target-branch \
            -v $(pwd)/output:/output \
            -e ARGOCD_CHART_VERSION=${{ env.ARGOCD_CHART_VERSION }} \
            -e BASE_BRANCH=master \
            -e DIFF_IGNORE="checksum/" \
            -e TARGET_BRANCH=refs/pull/${{ github.event.number }}/merge \
            -e REPO=${{ github.repository }} \
            -e KIND_OPTIONS="--image=${KIND_NODE_IMAGE}" \
            -e FILE_REGEX="rendered\.yaml" \
            -e DEBUG=true \
            ${ARGOCD_DIFF_PREVIEW_IMAGE}

      - name: Post diff as comment
        run: |
          gh pr comment ${{ github.event.number }} --repo ${{ github.repository }} --body-file output/diff.md --edit-last || \
          gh pr comment ${{ github.event.number }} --repo ${{ github.repository }} --body-file output/diff.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: output
          path: output/
